h1 {
    text-align: center;
    color: rgb(60, 88, 200);
    background-color: rgb(161, 205, 243);
}

nav ul a {
    padding: 20px;
}

#id {
    margin-left: 550px;
}

nav {
    background-color: rgb(161, 205, 243);
}

.image {
    width: 100%;
    padding-top: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(114, 148, 178);
    margin-top: 200px;
}