*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0 0 2%;
    padding: 1% 0;
    text-align: center;
    color: rgb(60, 88, 200);
    background-color: rgb(161, 205, 243);
}

nav ul a {
    padding: 10%;
    color: black;
    font-size: 100%;
    text-decoration: none;
    text-transform: uppercase;
}

/* #id {
    margin-left: 20%;
} */

nav {
    background-color: rgb(192, 200, 206);
    padding: 1%;
}

.image {
    width: 100%;
    padding: 10% 0;
    /* padding-top: 10%;
    padding-left: 10%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h3 {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(114, 148, 178);
    margin-top: 2%;
}